.container {
  height: 100%;
}
.container .ivu-card-body {
  height: 100%;
  padding: 0;
}
.left-pane .add-btn {
  border-color: #2b85e4;
  color: #2b85e4;
}
.left-pane {
  padding: 10px;
}
.left-list-pane {
  height: calc(100vh - 186px);
  border: 1px solid #dcdee2;
  border-radius: 4px;
  overflow: auto;
}
.c-pointer {
  cursor: pointer;
}
.tab-pane {
  padding: 0 20px 10px;
}
.left-list-pane .ivu-cell-label {
  font-size: 14px !important;
  line-height: 36px;
}
.left-list-pane .ivu-cell {
  padding: 0 16px;
}
.left-list-pane .ivu-cell-footer {
  visibility: hidden;
}
.left-list-pane .ivu-cell:hover .ivu-cell-footer {
  visibility: visible;
}
.right-pane .ivu-tabs-nav-container {
  padding: 20px 20px 14px;
}
.ivu-tabs-nav-wrap {
  font-size: 16px;
}
.ivu-row {
  line-height: 32px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.page-container {
  float: right;
}
.ivu-page-options-sizer {
  margin-right: 0;
}
